<footer>
    <div id="bottom-nav">
        <div class="footer-links">
            <span class="navbar-title">
                <p id="title1">Health</p>
                <p id="title2">Care</p>
            </span>

            <div id="icons-div">
                <a href="https://www.linkedin.com/in/pritesh-patil-57267b2a3/">
                    <div class="icons linkedin">
                        <i class="icon fa fa-linkedin-square"></i>
                    </div>
                </a>
                <a href="https://github.com/Pritesh2004">
                    <div class="icons github">
                        <i class="icon fa fa-github"></i>
                    </div>
                </a>
                <div routerLink="/contact" class="icons mail">
                    <i class="icon fa fa-envelope"></i>
                </div>
            </div>
        </div>
        <div class="footer-about">
            <p>Về Chúng Tôi</p>
            <p>Kết nối bạn với các bác sĩ giàu kinh nghiệm, nền tảng thân thiện với người dùng của chúng tôi đảm bảo việc đặt lịch hẹn dễ dàng và chăm sóc sức khỏe cá nhân hóa phù hợp với nhu cầu của bạn.</p>            
        </div>
    </div>
</footer>