<div class="content">
  <form class="example-form" (ngSubmit)="addSpec()">
    <h2>Thêm chuyên môn</h2>
    <input 
      type="text" 
      id="specializationName" 
      placeholder="Hãy nhập tên chuyên môn" 
      [(ngModel)]="specializationName" 
      name="specializationName" 
      required
    >
    <button type="submit">Thêm chuyên môn</button>
  </form>

  <h2>Danh sách chuyên môn</h2>
  <table border="1" class="specialization-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Tên chuyên môn</th>
        <th>Hành động</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let spec of specializations">
        <td>{{ spec.specializationId }}</td>
        <td>{{ spec.specializationName }}</td>
        <td>
          <button (click)="deleteSpec(spec.specializationId)">Xóa</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
